* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-field,
.btn-container {
  width: 200px;
  margin: 0 auto;
}

button {
  height: 50px;
  width: 50px;
  font-size: 22px;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.btn-row {
  display: flex;
}

.btn-row > button:first-of-type {
  flex: 1;
}

.work-btn {
  background-color: rgb(255, 203, 71);
  border: 1px solid gray;
}

.input-field {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  height: 50px;
  padding-bottom: 10px;
  font-size: 30px;
}
