* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calc,
.calc-history {
  width: 200px;
  margin: 0 auto;
}

.calc-history {
  height: 324px;
  margin-top: 30px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: rgb(226, 226, 226);
  overflow: auto;
}

.calc-container {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin: 0 auto;
}
button {
  height: 50px;
  width: 50px;
  font-size: 22px;
  border-radius: 0;
  border: 1px solid gray;
  border-collapse: collapse;
  margin: -1px 0 0 -1px;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.btn-row {
  display: flex;
}

.btn-row > button:first-of-type {
  flex: 1;
}

.work-btn {
  background-color: rgb(255, 203, 71);
}

.input-field {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  height: 50px;
  padding-bottom: 10px;
  font-size: 30px;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  margin: -1px 0 0 -1px;
  padding-right: 5px;
}

.result-field {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  height: 30px;
  font-size: 15px;
  color: rgb(100, 98, 98);
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  margin: 30px 0 0 -1px;
  padding-right: 5px;
}

.darken {
  filter: brightness(90%);
}

button:hover {
  filter: brightness(80%);
  cursor: pointer;
}

button:active {
  filter: brightness(60%);
}
